<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Challenge Complete!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">hehe... Congratulations!</h1>
        <p>You have successfully completed all challenges but wait, from here on you have to find a bug from our juice shop: 
        </p>
        <a href="http://35.189.161.122:3000/#/" style="color: white;">click here to run instance</a>
    </div>
</body>
</html>