<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mystic Gateway</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">-. ..- ..-. / ... .. / . -.. --- -.-. / . ... .-. --- --</h1>
        <form method="POST">
            <input type="text" name="code" placeholder="Enter decrypted code..." required>
            <button type="submit">Unlock</button>
        </form>
    </div>
    <script>
        alert("Welcome to level 1! \nThink and Try harder, you can do it.");
      </script>
</body>
</html>
